  <script>
    $(document).ready(function() {
      $(window).scroll(function() {
        if ($(this).scrollTop() > $('header').height()) {
          $(".nav").addClass('navscrolled');
        }else {
          $(".nav").removeClass('navscrolled');
        }

      });
    });
  </script>
  <header>
    <img src="/assets/logo.png">
  </header>
  <body>
    <div class="nav">
      <div class="wrapperwide">
        <ul>
          <li class="logo"><%= link_to "À Quatre Pas D'ici", root_path %></li>
          <li>
            <ul>
              <li><%= link_to "postagens recentes", root_path %></li>
              <li><%= link_to "sobre", sobre_path %></li>
              <li><%= link_to "contato", contato_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
