<div class="wrapperwide">
  <div class="conteudo">
    <div class="formcontato">
      <form action="#">
        <ul>
          <li><h1>Entre em contato conosco:</h1></li>
          <li><input type="text" placeholder="Nome"></li>
          <li><input type="text" placeholder="Email"></li>
          <li><textarea name="name" placeholder="Mensagem"></textarea></li>
          <li><input type="submit" name="enviar" value="Enviar Mensagem"></li>
        </ul>
      </form>
    </div>
  </div>
</div>
