<div class="wrapperwide">
  <div class="conteudo">
    <div class="sobreescritora">
      <h1>Sobre</h1>
      <br>
      <p>
              Uma mala, um blazer no braço e bilhetes impressos na mão. Essa é uma das

        memórias mais vívidas que tenho do meu pai na minha infância. Dando tchau, se

        aventurando por algum lugar do mundo. Ele viajava a trabalho e quando voltava

        nos trazia histórias e lembranças de lugares distantes que habitaram a minha

        memória desde pequena. Histórias de viagens e de descobertas.

        <br><br>

        Há dez anos atrás quando fui de mala e cuia fazer mestrado em Paris surgiu esse

        blog para compartilhar as minhas histórias com a família e um punhado de

        amigos.
        <br><br>

        À quatre pas d’ici (sim, é uma música da Celine Dion...), que traduzido em bom

        mineirês quer dizer: “logali”. Em parte porque eu queria acreditar que não

        estávamos tão longe assim. Em parte porque eu acho a música bonitinha (sim, eu

        sei, é da Celine Dion).
        <br><br>

        Nesse ano completo 34 anos e com marido e um bebê de 6 meses a tiracolo,

        vamos desbravar a África do Sul. Então é hora de tirar a poeira do blog para

        contar histórias.

        <br><br>

        Até hoje quando entro em aeroportos lembro do meu pai: um blazer na mão,

        uma mala e os bilhetes impressos. Os bilhetes hoje em dia vão no tablet ou no

        celular. A bagagem aumentou um pouquinho, assim como a família, e o blazer é

        um casaquinho amassado no fundo da mochila do bebê, mas seguimos viagem

        em busca de novas histórias para contar. Por que você não vem com a gente?
      </p>
    </div>
    <div class="profile">
      <ul>
        <li><div class="profilepic"></div></li>
        <li><h1>Priscila Ubriaco</h1></li>
      </ul>
    </div>
  </div>
</div>
