<head><title>Contato</title></head>
<div class="wrapperwide">
  <div class="conteudo">
    <div class="obrigado">
      <h1>Obrigado!</h1>
      <h2>Sua mensagem foi enviada com sucesso.</h2>
    </div>
  </div>
</div>
